.snippet-row {
  .title {
    margin-bottom: 2px;
    font-weight: $gl-font-weight-bold;
  }

  .snippet-info {
    color: $gl-text-color-secondary;
  }

  a {
    color: $gl-text-color;
  }
}

.snippet-file-content {
  border-radius: 3px;

  .file-content {
    overflow-y: auto;
  }

  + .snippet-file-content {
    margin-top: $gl-spacing-scale-5;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.snippet-title {
  color: $gl-text-color;
  font-size: 2em;
  font-weight: $gl-font-weight-bold;
}
